*{
    margin:0;
    font-family:Arial,sans-serif;
    box-sizing:border-box; /*aisa karne se jo border aap element ko doge vo alag se size nahi change krega, instead jo desired size hai element ka uske andr rehke hi border aega alag se*/
}

/**navbar**/
.navbar{
    height:60px;
    background-color:#171a1a;
    color:white;
    display:flex; /*by default, main axis along row hogi, hence sara content same row mein aa jayega*/
    align-items:center;
    justify-content:space-evenly;
}
/*box 1*/
.nav-logo{
    height:50px;
    width:120px;
}
.logo{
    background-image: url("Amazon-Logo.png");
    background-size:contain;
    height:33px;
    width:109px;
    position:absolute;
    margin-top:10px;
}
.border{ /*sirf .border likhne se how did it work?*/
    border:1px solid transparent; /*transparent:border color=background color*/
    margin:4px;   
}
.border:hover{
    border:1px solid white;
    border-radius:3%;
}
/*box 2*/
.deliver{
    font-size:0.8rem; /* using rem to make the website more responsive in other devices as well*/
    color:#cccccc;
    margin-left:15px;
}
.country{
    font-size:1rem;
    margin-left:4px;
}
.add-icon{
    display:flex; /* so that icon and country comes in the same line*/
    align-items:center; /*center along the cross axis*/
}
/*box 3*/
.nav-search{
    display:flex;
    height:40px;
    width:1200px;
    justify-content:space-evenly;
}
.search-input{ /*search amazon*/
    width:100%;
    border:none;
    color:#0f1111;
    background-color:#ffffff;
    font-size:0.9rem;
}
.search-select{ /*all*/
    background-color:#e6e6e6;
    color:#0f1111;
    width:50px;
    text-align:center;
    border-top-left-radius:5px;
    border-bottom-left-radius:5px;
    border:none;
    font-size:0.75rem;
}
.search-icon{ 
    width:45px;
    font-size:1.2rem;
    color:#0f1111;
    background-color:#febd68;
    border-top-right-radius:5px;
    border-bottom-right-radius:5px;
    display:flex;
    justify-content:center;
    align-items:center;
}
.nav-search:active{
    border:3px solid #febd68;
}
/*box 4*/
.language-select{
    height:40px;
    width:65px;
    display:flex;
    justify-content:center;
    align-items:center;
}
.flag{
    height:22px;
    width:17px;
    background-image:url("US-Flag-icon.png");
    background-size:cover;
}
.language{
    background-color:#0F1111;
    font-size:0.8rem;
    font-weight:bolder;
    color:#ffffff;
    border:none;
    margin-left:2.5px;
}
/*box 5 and 6*/
.signin{
    font-size:0.8rem;
}
.nav-sec{
    font-size:1rem;
    font-weight:700;
}
/*box7*/
.nav-cart i{ 
    font-size:30px;
}
.nav-cart{  
    font-size:0.9rem bold;
}

/**panel**/
.panel{
    height:40px;
    display:flex;
    background-color:#232f3e;
    align-items:center;
    color:#ffffff;
    margin:0px;
}
.menu i{
    font-size:1.2rem;
    color:#ffffff;
    margin-left:20px;
}
.all{
    font-size:0.9rem;
    font-weight:700;
    margin-left:2px;
    display:inline;
}
.panel-options p{ 
    font-size: 0.85rem;
    display:inline;
    padding:7px 8px 7px 8px;
}
.panel-options{
    width:70%;
}
/* .panel-deals{
    font-size:15px;
    font-weight:700;
} */

/*hero-section*/
.hero-section{
    background-image:url('gamers.jpg');
    /* background-color: #e3e6e6; */
    height:400px;
    width:80%;
    margin-left:190px;
    margin-right:190px;
    background-size:cover;
    display:flex;
    justify-content:center;
    align-items:flex-end;
    /* animation-name:background-img;
    animation-delay:2s; */
}
/* @keyframes background-img{
    0%{
        background-image: url('gamers.jpg');
    }
    100%{
        background-image: url('books2.jpg');
    }
} */
.fa-chevron-right{
    font-size:2.5rem;
    position:absolute;
    top:280px;
    right:250px;
}

.fa-chevron-left{
    font-size:2.5rem;
    position:absolute;
    top:280px;
    left:250px;
}
   

.amazonindia{
    background-color:#f5f6f6;
    height:40px;
    width:97%;
    padding:10px 15px 10px 15px;
    display:flex;
    justify-content:center;
    align-items:center;
    margin-bottom:35px;
}
.amazonindia a{
    color:#007185;
}
.link{
    font-size:1rem;
    color:#0F1111;
}
.link a{
    color:#007185;
    text-decoration:none;
}
/*shop-section*/
.shopping{
    width:80%;
    margin-left:10%;
    display:flex;
    flex-wrap:wrap;
    justify-content:space-evenly;
    background-color:rgb(222, 211, 253) ;
}
.shoplink{
    text-decoration: none;
    color:#007185;
    font-size:0.8rem;
}
.shoplink:hover{
    color:rgb(252, 29, 29);
}
.box{
    height:450px;
    width:23%;
    background-color:white;
    padding: 20px 0px 15px;
    margin-top:20px;
}
.box-img{
    height:320px;
    background-size:cover;
    margin-top:1rem;
    margin-bottom:1.4rem;
}
.flexbox{ 
    display:flex;
    flex-wrap:wrap;
    flex-direction:row;
    justify-content:space-evenly;
    align-items:center;
}
.box-4imgs{
    margin-top:10px;
    margin-bottom:40px;
    height:120px;
    width:150px;
    background-size:cover;
}
.box-4imgs a{
    position:relative;
    top:7.5rem;
    text-decoration:none;
    color:black;
    font-size:1rem;
}
.box-content{
    margin-left:1rem;
    margin-right:1rem;
}
.shopmorelink-4imgs{
    text-decoration: none;
    color:#007185;
    font-size:0.8rem;
    margin-top:20px;
    margin-right:240px;
}
.shopmorelink-4imgs:hover{
    color:rgb(252, 29, 29);
}
.longbox{
    height:300px;
    width:1475px;
    background-color:white;
    margin-top:20px;
}
.longbox-content{
    margin-top:1rem;
    margin-left:1.5rem; 
}
.longbox-img{
    height:200px;
    width:180px;
    background-size:cover;
    margin-top:20px; 
}
/*footer*/
.footer1{
    height:150px;
    background-color:white;
    border-top:1px solid rgba(110, 109, 109,0.4);
    /* display:flex;
    justify-content:center; */
}
.foot1content{
    height:120px;
    border-top:1px solid rgba(110, 109, 109,0.4);
    border-bottom:1px solid rgba(110, 109, 109,0.4);
    margin:20px 0px 20px 0px;
}
.newuser{
    margin-left:800px;
    margin-top:10px;
    font-size:0.8rem;
}
/* .newusersignin{
    margin-left:850px;
    margin-top:10px;
    font-size:0.8rem;
} */
.newuser a{
    text-decoration:none;
}
.footer1 button{
    width:250px;
    height:30px;
    margin-top:10px;
    background-color:#febd68;
    border:1px solid #fd9916;
    border-radius:5px;
}
.footer2{
    color:white;
    background-color:#314052;
    height:50px;
    display:flex;
    justify-content:center;
    align-items:center;
    margin-top:15px;
}
.footer2 a{
    text-decoration:none;
    color:white;
    font-size:1rem;
}
.footer3{
    background-color:#24303f;
    height:400px;
    display:flex;/*it will make the 4 lists side by side*/
    justify-content:space-evenly;
}
.footlist p{
    font-size:1.2rem;
    color:#ffffff;
    margin-top:30px;
    margin-bottom:15px;
}
.footlist a{
    font-size:1rem;
    color:#dddddd;
    margin-top:10px;
    display:block; /*sara linewise arrange hogya*/
}
.footer4{
    background-color:#24303f;
    border-top:0.1px solid rgb(110, 109, 109);
    height:80px;
    display:flex;
    justify-content: center;
    align-items: center;
}
.logo{
    background-image: url("Amazon-Logo.png");
    width:98px;
    height:30px;
}
/* .footer3 select{
    border:0.5px solid white;
    color:white;
}
.footer3 p{
    border:0.5px solid white;
    color:white;
} */
.footer5{
    background-color:#0d141b;
    height: 80px;
    color:white;
    font-size:0.85rem;
    text-align:center;
}
.pages{
    padding-top:25px;
}
.copyright{
    padding-top:5px;
}